# Node dependencies
node_modules/

# Sass build artifacts
assets/style.min.css
assets/style.min.css.map

# System & editor files
.DS_Store
Thumbs.db

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode workspace data
.vscode/
