[data-page="dryp"] {

    padding: 2rem;

    /* Features grid */
    .card {
        border-radius: 0.2rem;
        position: relative;
        overflow: hidden;
        padding: 1rem;

        &:focus-visible {
            outline-offset: 1px;
        }

        progr-media {
            aspect-ratio: 921 / 576;
            margin: -1rem -1rem 1rem -1rem;
        }

        footer {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            bottom: 20px;
            position: absolute;
            width: 100%;
        }
    }
}